/* universal styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* hiding mobile nav bar in desktop */
.mobile-nav{
    display: none;
}

/* flex related styles */

.our-plants-center{
    text-align: center;
    margin: 50px 134px 0 134px;
}


.in-middle {
    margin: 0 134px 0 134px;
}

.in-middle-top {
    margin: 20px 134px 0 134px;
}

.display-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: start;
    align-items: end;
}
.hero-img img {
    width: 90%;
}
.hero-img {
    display: flex;
    justify-content: flex-end;
}


.margin-top {
    margin-top: 110px;
}

.width-set-90 {
    width: 92%;
}
.flex-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


/* card realted styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);

    max-width: 1000px;
    gap: 20px;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 50px;
}
.card span{
    display: inline-block;
    padding-top: 5px;
}
.card img {
    width: 100%;
}


/* card end */
/* btn */

.btn-one {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background: rgb(233, 90, 8);
    border: none;
    height: 44.5px;
    width: 100%;
}
/* btn end */
.padding-top {
    display: inline-block;
    padding-top: 10px;
}

.li-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.li-flex a {
    text-decoration: none;
    /* color: black; only for now will change it later */
}


.nav-img img {

    width: 75%;

    /* width: 120px;
    height: 73px; */
}
.nav-mobile img {

    width: 55%;

    /* width: 120px;
    height: 73px; */
}


/* color related styles */

.color-one {
    color: rgb(37, 36, 50);

}

.color-two {
    color: rgb(137, 135, 161);

}

.color-three{
    color: rgb(233, 90, 8);
}

.color-four {
    color: rgba(0, 0, 0, 0.5);

}


/* font size related styles */

.f-size-one{
    font-size: 1rem;
}

.f-size-two {
    font-size: 3.625rem;
}

.f-size-three {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

.f-size-four {
    font-size: 3.125rem;
}

.f-size-five {
    font-size: 1.375rem;
}

@media screen and (max-width: 576px){
    .nav-bar {
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .in-middle {
        margin: 0;
    }

    .display-grid {
    grid-template-columns: repeat(1, 1fr); 

    }
    .display-grid p {
        padding-top: 10px;
        font-size: 0.875rem;
    }

    .hero-img {
    justify-content: end;
    grid-row: 1;
    padding-bottom: 20px;
    }
    .width-set-90 {
    width: 100%;
    grid-row: 2;

    padding: 10px 20px;

    
    }

    .f-size-four {
        font-size: 1.5rem;
    }

    .color-four {
        font-size: 0.875rem;
    }


    .f-size-two {
        font-size: 1.375rem;
    }

    .margin-top {
    margin: 20px 20px 20px 20px;
    /* will use this to center iteam later on */
    
    }

    /* second sec */

    .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: center;

    margin: 50px 10px;
}

.our-plants-center {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 10px;
}

 p {
    text-align: justify;
 }

}