/* universal styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* flex related styles */
/* section {
    height: 90vh;
} */
.in-middle {
    margin: 0 134px 0 134px;
}

.in-middle-top {
    margin: 20px 134px 0 134px;
}

.display-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: start;
    align-items: end;
}
.hero-img img {
    width: 90%;
}
.hero-img {
    display: flex;
    justify-content: flex-end;
}


.margin-top {
    margin-top: 110px;
}

.width-set-90 {
    width: 92%;
}
.flex-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.li-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.li-flex a {
    text-decoration: none;
    /* color: black; only for now will change it later */
}


.nav-img img {

    width: 75%;

    /* width: 120px;
    height: 73px; */
}



/* color related styles */

.color-one {
    color: rgb(37, 36, 50);

}

.color-two {
    color: rgb(137, 135, 161);

}

.color-three{
    color: rgb(233, 90, 8);
}


/* font size related styles */

.f-size-one{
    font-size: 1rem;
}

.f-size-two {
    font-size: 3.625rem;
}

.f-size-three {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}